# Webapp Configuration
GRADIO_SERVER_NAME=0.0.0.0
GRADIO_SERVER_PORT=8000
GRADIO_SHARE=False
DB_URL=postgresql+psycopg://breakingbad:secret@db/breakingbad

# LLM Configuration
OLLAMA_HOST=host.docker.internal
OLLAMA_PORT=11434
OLLAMA_EMBEDDING_MODEL=<model-here>
OLLAMA_LANGUAGE_MODEL=<model-here>

# Postgres DB Docker Container Configuration
POSTGRES_USER=breakingbad
POSTGRES_PASSWORD=secret
POSTGRES_DB=breakingbad
